.home{
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    font-family: Gilroy;
    color: #DBDFEA;
}
.home-left{
    width: 70%;
}
.home-left-middle{
    width: 95%;
    height: 40vh;
    background-color: #24263A;
    padding: 3%;
    border-radius: 20px;
    margin-top: 5%;
}

.home-left-top{
    display: flex;
    justify-content: space-between;
}
.home-top-card{
    width: 30%;
    border-radius: 20px;
    background-color: #24263A;
    display: flex;
    line-height: 2rem;
    justify-content: space-between;
}
.card-dtl, .card-chat{
    padding: 3% 0% 0% 3%;
    width: 45%;
}
.card-chat2{
    position: relative;
    top:-50%;
}

.home-right{
    width: 30%;
    height: 100vh;
}

.home-left-middle-top{
    display: flex;
    justify-content: space-between;
}